:root {
    --main-active-color: hsl(211, 100%, 50%);
    --main-very-slightly-active-color: hsl(211, 100%, 99%);
    --main-slightly-active-color: hsl(211, 100%, 97%);
    --main-slightly2-active-color: hsl(211, 100%, 82%);
    --main-medium-active-color: hsl(212, 100%, 65%);
    --main-stronger-active-color: hsl(212, 100%, 58%);
    --main-briht-calm-color: hsl(225, 100%, 98%);
    --main-brihter-calm-color: hsl(0, 0%, 100%);
    --header-footer-color: hsl(204, 38%, 92%);
    --active-text: var(--main-active-color);
    --inactive-text: black;
    --slight-active-tint: var(--main-slightly-active-color);
    --active-flat-button: var(--main-active-color);
    --available-flat-button: var(--main-stronger-active-color);
    --inactive-flat-button: #ffffff;
    --bright-text-color: white;
    --dark-color: #555555;
    --very-slight-gray-color: #fafafa;
    --main-gray-3: hsl(0, 0%, 94%);
    --main-gray-5: hsl(0, 0%, 89%);
    --slight-border: #eee;
    --strong-border: #353535;
    --colored-border: var(--main-active-color);
    --main-active-4: hsl(214, 50%, 99%);
    --main-active-10: hsl(212, 79%, 93%);
    --main-active-60: hsl(212, 100%, 75%);
}